.pageContainer {
  background-color: #FFFFFF;
  min-height: 100vh;
}

.imageContainer {
  margin-top: 50px;
  display: flex; 
  justify-content: center; 
}

.title {
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: -0.6px;
  text-align: center;
  color: #3D3D3D;
  margin-top: 20px;
}

.headerContainer {
  width: 1200px;
  height: 140px;
  border: 1px solid black;
  margin-top: 40px;
  margin-left: 100px;
}