.pageContainer {
  background-color: #faf7f5;
  min-height: 100vh;
}

@media (min-width: 1280px) {
  .headerContainer {
    width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 800px) and (max-width: 1279px) {
  .headerContainer {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 799px) {
  .headerContainer {
    min-width: 800px;
    overflow-x: auto;
  }
}

.imageContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.title {
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: -0.6px;
  text-align: center;
  color: #3d3d3d;
  margin-top: 20px;
}

.headerContainer {
  width: 1200px;
  height: 140px;
  margin-top: 50px;
  margin-left: 100px;
}
