.container {
  background-color: #FFFFFF;
  text-align: center;
  padding: 50px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Pretendard', sans-serif;
  font-size: 82px;
  line-height: 90px;
  letter-spacing: -0.6px;
  margin: 0;
}

.welcome {
  color: #3D3D3D;
  font-weight: 900;
}

.appName {
  color: #FF0045;
  font-weight: 700;
}

.description {
  font-family: 'Pretendard', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #8B8B8B;
  margin-top: 20px;
}

.welcome, .appName {
  display: block;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.imageContainer {
  margin-top: 50px;
  display: flex; 
  justify-content: center; 
}