.button {
  width: 138px;
  height: 40px;
  padding: 14px 50px;
  border-radius: 6px;
  border: 1px solid #ff0045;
  background-color: #ffffff;
  color: #ff0045;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  border-color: #b70055;
  background-color: #ffd2cc;
  color: #b70055;
}

.button:active {
  border-color: #ff0045;
  background-color: #ffaba1;
  color: #ff0045;
}
